@import 'variables.scss';

.contact-view {
	display: flex;
	flex-direction: row-reverse;
	max-width: 800px;
	margin: auto;
	padding-top: 30px;
	height: 100px;
	a {
		cursor: pointer;
	}
	.name {
		display: flex;
		flex: 1 0 0%;

		font-size: 2em;
		padding: 20px;
		font-weight: 600;
	}
	.contact-actions {
		max-width: 600px;
		display: flex;
		align-items: flex-end;
		flex: 1 0 0%;
		::ng-deep img {
			height: 20px;
			padding: 20px;
		}
	}
}

.contact-details {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 600px;
	padding-left: 200px;
	margin-bottom: 100px;
	.row {
		display: flex;
		flex: 1 0 0%;
		flex-direction: row;
		padding: 20px 30px;
		min-height: 20px;
		.label {
			flex: 1 0 0%;
		}
		.email {
			flex: 2 0 0%;
			padding: 5px 0;
		}
		.phones {
			flex: 2 0 0%;
			display: flex;
			flex-direction: column;
			.phone-row {
				display: flex;
				flex-direction: row;
				padding: 10px 0;
				.phone-label {
					flex: 1 0 0%;
				}
				.phone-number {
					flex: 2 0 0%;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.contact-view {
		height: auto;
		flex-direction: column;
		padding-top: 10px;
		.contact-actions {
			margin: auto;
			width: 100%;
			border-bottom: 1px solid $font-color;
			min-height: 60px;
		}
	}
	.contact-details {
		padding-left: 0;
	}
}
