@import 'variables.scss';

.contact-edit {
	display: flex;
	flex-direction: row-reverse;
	max-width: 800px;
	margin: auto;
	padding-top: 30px;
	height: 100px;
	.contact-actions {
		max-width: 600px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex: 1 0 0%;
		img {
			height: 20px;
			padding: 20px;
		}
		.delete-action {
			cursor: pointer;
			display: flex;
			span {
				padding: 20px 0;
				align-self: center;
			}
		}
	}
}
form {
	color: $font-color;
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 600px;
	padding-left: 200px;
	.section {
		display: flex;
		padding: 20px 0;
	}
	.row {
		display: flex;
		flex-direction: row;
		&.phones {
			flex-direction: column;
		}
		.validator-label {
			width: 250px;
			flex: 1 0 0%;
			padding: 10px 20px;
			color: red;
		}
		.numbers-row {
			display: flex;
			.phone-row {
				flex: 1 0 0%;
				align-items: center;
				display: flex;
				min-height: 50px;
				input {
					flex: 1 0 0%;
				}
			}
		}
	}
	.form-button {
		cursor: pointer;
		background: none;
		border-radius: 500px;
		height: 30px;
		width: 30px;
		&.delete {
			border: 1px solid $border-color;
			color: $font-color;
			margin: 10px 20px 10px 0;
		}
		&.add {
			border: 1px solid $primary-color;
			color: $primary-color;
			margin: 10px;
		}
	}

	.actions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		button {
			color: white;
			height: 43px;
			width: 160px;
			background: $font-color;
			border: 1px solid $font-color;
			border-radius: 20px;
			margin: 20px;
			&:hover {
				background: $primary-color;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.contact-edit {
		height: auto;
		flex-direction: column;
		padding-top: 10px;
		.contact-actions {
			margin: auto;
			width: 100%;
			border-bottom: 1px solid $font-color;
			min-height: 60px;
		}
	}
	form {
		padding-left: 0;
		.row {
			flex-direction: column;
			.numbers-row {
				flex-direction: column;
			}
		}
		input {
			width: auto;
		}
	}
}
